In [10]:
import numpy as np
import pandas as pd

pd.set_option('expand_frame_repr', False)

#Lire le dataset
df=pd.read_csv('World University Rankings 2023.csv')

#Les 6 colonnes à selectionner
cols=['Name of University','University Rank','Location','No of student','International Student','Research Score','Teaching Score']

#extraire le nouveau jdd
univ=df[cols]


#les types des colonnes
"""
print(univ.dtypes)

Name of University        object
University Rank           object
Location                  object
No of student             object
International Student     object
Research Score           float64
dtype: object

"""
#Selectionner les 200 premières universités
#on doit tout d'abord rendre la colonne "University Rank" numeric (float64)
univ['University Rank']=pd.to_numeric(univ["University Rank"], errors='coerce')

Top_200_univs=univ.loc[univ["University Rank"]<=200]

#Pour enlever la virgule flottante .0 on le rend en int
Top_200_univs["University Rank"]=Top_200_univs["University Rank"].astype(int)

#Modifier le type des autres colonnes
Top_200_univs["Name of University"]=Top_200_univs["Name of University"].astype("string")
Top_200_univs["Location"]=Top_200_univs["Location"].astype("string")
Top_200_univs["No of student"]=Top_200_univs["No of student"].str.replace(',','') #car dans le dataset les milliers sont écrits avec ,
Top_200_univs["No of student"]=Top_200_univs["No of student"].astype("int",errors='ignore')
#La colonne International Student est écrite en pourcentage
Top_200_univs["International Student"]=Top_200_univs["International Student"].str.rstrip('%').astype("float")/100
Top_200_univs["Research Score"]=Top_200_univs["Research Score"].astype("float")
Top_200_univs["Teaching Score"]=Top_200_univs["Teaching Score"].astype("float")
'''
print(Top_200_univs.dtypes)
Name of University        string
University Rank            int32
Location                  string
No of student              int32
International Student    float64
Research Score           float64
dtype: object
'''


#Identifier les colonnes avec valeurs nulles
'''
print(Top_200_univs.isna().any())

retourne 
Name of University       False
University Rank          False
Location                  True
No of student            False
International Student    False
Research Score           False
dtype: bool
'''

'''
Pour détecter les lignes nulles de la colonne "Location"
#print(Top_200_univs.loc[Top_200_univs["Location"].isna()])
'''

#Pour des buts d'analyse et d'études sur la localisation des universités on a décidé de remplir manuellement les localisations indéfinies

Top_200_univs.loc[15,'Location'] ='China'
Top_200_univs.loc[16, "Location"] ='China'
Top_200_univs.loc[18, 'Location'] ='Singapore'
Top_200_univs.at[29, 'Location'] ='Germany'
Top_200_univs.at[30, 'Location'] ='Hong Kong'
Top_200_univs.at[32, 'Location'] ='Germany'
Top_200_univs.at[41, 'Location'] ='Belgium'
Top_200_univs.at[42, 'Location'] ='Germany'
Top_200_univs.at[44, 'Location'] ='Hong Kong'
Top_200_univs.at[45, 'Location'] ='Canada'
Top_200_univs.at[52, 'Location'] ='Australia'
Top_200_univs.at[53, 'Location'] ='United Kingdom'
Top_200_univs.at[57, 'Location'] ='Hong Kong'
Top_200_univs.at[66, 'Location'] ='China'
Top_200_univs.at[71, 'Location'] ='Australia'
Top_200_univs.at[73, 'Location'] ='China'
Top_200_univs.at[74, 'Location'] ='Netherlands'
Top_200_univs.at[75, 'Location'] ='United Kingdom'
Top_200_univs.at[76, 'Location'] ='Netherlands'
Top_200_univs.at[77, 'Location'] ='South Korea'
Top_200_univs.at[78, 'Location'] ='Hong Kong'
Top_200_univs.at[79, 'Location'] ='Netherlands'
Top_200_univs.at[82, 'Location'] ='United Kingdom'
Top_200_univs.at[84, 'Location'] ='Canada'
Top_200_univs.at[87, 'Location'] ='Australia'
Top_200_univs.at[98, 'Location'] ='Hong Kong'
Top_200_univs.at[101, 'Location'] ='Saudi Arabia'
Top_200_univs.at[104, 'Location'] ='United Kingdom'
Top_200_univs.at[110, 'Location'] ='Canada'
Top_200_univs.at[114, 'Location'] ='France'
Top_200_univs.at[115, 'Location'] ='United Kingdom'
Top_200_univs.at[132, 'Location'] ='Australia'
Top_200_univs.at[137, 'Location'] ='Canada'
Top_200_univs.at[139, 'Location'] ='Australia'
Top_200_univs.at[140, 'Location'] ='Netherlands'
Top_200_univs.at[155, 'Location'] ='USA'
Top_200_univs.at[159, 'Location'] ='South Africa'
Top_200_univs.at[160, 'Location'] ='Italy'
Top_200_univs.at[161, 'Location'] ='Germany'
Top_200_univs.at[163, 'Location'] ='South Korea'
Top_200_univs.at[164, 'Location'] ='China'
Top_200_univs.at[170, 'Location'] ='South Korea'
Top_200_univs.at[172, 'Location'] ='South Korea'
Top_200_univs.at[175, 'Location'] ='United Kingdom'
Top_200_univs.at[185, 'Location'] ='United Kingdom'
Top_200_univs.at[186, 'Location'] ='Taiwan'
Top_200_univs.loc[197, 'Location'] ='United Kingdom'

#On choisit la colonne du rang comme indexe de notre dataframe
Top_200_univs.set_index('University Rank',inplace=True)

print(Top_200_univs)

#Enregistrer le résultat dans un fichier csv
Top_200_univs.to_csv('data\Top_200_univs.csv', sep=';', encoding='utf-8')

                                    Name of University        Location  No of student  International Student  Research Score  Teaching Score
University Rank
1                                 University of Oxford  United Kingdom          20965                   0.42            99.7            92.3
2                                   Harvard University   United States          21887                   0.25            99.0            94.8
3                              University of Cambridge  United Kingdom          20185                   0.39            99.5            90.9
3                                  Stanford University   United States          16164                   0.24            96.7            94.2
5                Massachusetts Institute of Technology   United States          11415                   0.33            93.6            90.7
...                                                ...             ...            ...                    ...             ...             ...
196                   University of Erlangen-Nuremberg         Germany          30303                   0.13            47.5            44.6
196                                 Sichuan University           China          49543                   0.06            58.6            57.1
198                                  Durham University  United Kingdom          18425                   0.35            44.6            40.0
198                         Queen’s University Belfast  United Kingdom          19060                   0.39            37.9            31.1
198                              University of Reading  United Kingdom          15720                   0.32            39.6            36.5

[199 rows x 6 columns]

C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  univ['University Rank']=pd.to_numeric(univ["University Rank"], errors='coerce')
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["University Rank"]=Top_200_univs["University Rank"].astype(int)
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["Name of University"]=Top_200_univs["Name of University"].astype("string")
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["Location"]=Top_200_univs["Location"].astype("string")
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["No of student"]=Top_200_univs["No of student"].str.replace(',','') #car dans le dataset les milliers sont écrits avec ,
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["No of student"]=Top_200_univs["No of student"].astype("int",errors='ignore')
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["International Student"]=Top_200_univs["International Student"].str.rstrip('%').astype("float")/100
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["Research Score"]=Top_200_univs["Research Score"].astype("float")
C:\Users\Pc\AppData\Local\Temp/ipykernel_18568/2529044438.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top_200_univs["Teaching Score"]=Top_200_univs["Teaching Score"].astype("float")
D:\progs\Anaconda\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

FileNotFoundError: [Errno 2] No such file or directory: 'data\\Top_200_univs.csv'

In [12]:
from dash import Dash, html, dcc, Input, Output, clientside_callback, callback
import plotly.express as px
import dash_bootstrap_components as dbc
import dash 
import pycountry_convert as pc

import pandas as pd

df = pd.read_csv('Top_200_univs.csv',delimiter=';')
print(df)
#Fonction pour extraire le continent de chaque pays
def convert(row):
    cn_code = pc.country_name_to_country_alpha2(row.Location, cn_name_format = "default")        
    conti_code = pc.country_alpha2_to_continent_code(cn_code)
    country_continent_name = pc.convert_continent_code_to_continent_name(conti_code)
    return country_continent_name

#on ajoute la colonne du continent
df["continent"]=df.apply(convert,axis=1)

     University Rank                     Name of University        Location  No of student  International Student  Research Score  Teaching Score
0                  1                   University of Oxford  United Kingdom          20965                   0.42            99.7            92.3
1                  2                     Harvard University   United States          21887                   0.25            99.0            94.8
2                  3                University of Cambridge  United Kingdom          20185                   0.39            99.5            90.9
3                  3                    Stanford University   United States          16164                   0.24            96.7            94.2
4                  5  Massachusetts Institute of Technology   United States          11415                   0.33            93.6            90.7
..               ...                                    ...             ...            ...                    ...             ...             ...
194              196       University of Erlangen-Nuremberg         Germany          30303                   0.13            47.5            44.6
195              196                     Sichuan University           China          49543                   0.06            58.6            57.1
196              198                      Durham University  United Kingdom          18425                   0.35            44.6            40.0
197              198             Queen’s University Belfast  United Kingdom          19060                   0.39            37.9            31.1
198              198                  University of Reading  United Kingdom          15720                   0.32            39.6            36.5

[199 rows x 7 columns]